In [1]:
# 와인품질 예측
# 목표 : 와인속석을 분석해서 품질 등급을 예측
# 기술통계, 회귀분석, t-검증,  히스토그램
# 데이터수집 : 레드/화이트와인 데이터셋 download
# 수집한 데이터파일 병합
# 테이터 탐색 :  info() 정보확인
#                describe(), unique(), value_counts()  기술통계
# 데이터 모델링 :
#               1. 데이터를 두 그룹으로 비교분석
#                  그룹별 통계분석
#                  t-검정: scipy 패키지의 ttest_ind()
#                  회귀분석
#               2. 품질 등급 예측
#                  샘플을 독립변수 x로 지정->회귀분석모델 적용->종속변수(y)인 품질(quality)예측
# 결과  시각화
# 1. 히스토그램을 이용한 시각화       2. 부분 회귀 플롯을 이용한 시각화

In [2]:
# 핵심개념
'''
기술통계(요약통계)
 - 데이터의 특징을 나타내는 수치를 이용하여 분석하는 기본적인 통계 방법
 - 평균, 중앙값, 최빈값 등을 ...
 
회귀분석
 - 독립변수,x와 종속변수 y간의 상호 연관성 정도를 파악하기 위한 분석 기법 
 - 하나의 변수가 변함에 따라서 대응되는 변수가 어떻게 변하는지 측정하는 것
 - 변수간의 인과관계를 분석할때 많이 사용
 - 독립변수가 한개이면 단순 회귀분석, 두개 이상이면 다중 회귀분석
 - 독립변수와 종속변수의 관계에 따라 선형 회귀분석과 비 선형 회귀분석으로 나눈다
 - 선형회귀분석 식: y = b0 + b1x1 + b2x2 + ..... bnxn
 
t-검증
 - 데이터에서 찾은 평균으로 두 그룹에 차이가 있는지 확인 하는 방법
 ex) A 와인의 품질이 1등급인지 2등급인지에 따라서 가격에 차이가 있는지를 확인할때 사용
 
히스토램
 - 데이터의 값의 범위를 몇개의 구간으로 나누고 각 구간에 해당되는 값의 숫자나 상태적 빈도 크기를 차트로
'''

'\n기술통계(요약통계)\n - 데이터의 특징을 나타내는 수치를 이용하여 분석하는 기본적인 통계 방법\n - 평균, 중앙값, 최빈값 등을 ...\n \n회귀분석\n - 독립변수,x와 종속변수 y간의 상호 연관성 정도를 파악하기 위한 분석 기법 \n - 하나의 변수가 변함에 따라서 대응되는 변수가 어떻게 변하는지 측정하는 것\n - 변수간의 인과관계를 분석할때 많이 사용\n - 독립변수가 한개이면 단순 회귀분석, 두개 이상이면 다중 회귀분석\n - 독립변수와 종속변수의 관계에 따라 선형 회귀분석과 비 선형 회귀분석으로 나눈다\n - 선형회귀분석 식: y = b0 + b1x1 + b2x2 + ..... bnxn\n \nt-검증\n - 데이터에서 찾은 평균으로 두 그룹에 차이가 있는지 확인 하는 방법\n ex) A 와인의 품질이 1등급인지 2등급인지에 따라서 가격에 차이가 있는지를 확인할때 사용\n \n히스토램\n - 데이터의 값의 범위를 몇개의 구간으로 나누고 각 구간에 해당되는 값의 숫자나 상태적 빈도 크기를 차트로\n'

In [3]:
# 데이터 수집
# https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/

In [5]:
import pandas as pd
import numpy as np

In [14]:
red_df = pd.read_csv("E:/4.numpy_workspace/wins/winequality-red.csv",sep=';',header=0,engine='python')
white_df = pd.read_csv("E:/4.numpy_workspace/wins/winequality-white.csv",sep=';',header=0,engine='python')

In [17]:
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [18]:
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [25]:
red_df.insert(0,column='type',value='red')
red_df.head()

ValueError: cannot insert type, already exists

In [26]:
red_df.shape

(1599, 13)

In [20]:
white_df.insert(0,column='type',value='white')
white_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [21]:
wine = pd.concat([red_df, white_df])
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [22]:
wine.tail()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4893,white,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,white,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,white,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,white,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,white,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [29]:
white_df.shape[0] + red_df.shape[0]

6497

In [30]:
wine.shape[0]

6497