In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/leekyuyoung4/ml0719/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9DV/data.csv')
data.head()

  Species  Weight  Length  Diagonal   Height   Width
0       A   242.0    25.4      30.0  11.5200  4.0200
1       A   290.0    26.3      31.2  12.4800  4.3056
2       A   340.0    26.5      31.1  12.3778  4.6961
3       A   363.0    29.0      33.5  12.7300  4.4555
4       A   430.0    29.0      34.0  12.4440  5.1340

In [2]:
# 품종확인하기
pd.unique(data['Species'])

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [6]:
import numpy as np